<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  </head>
  <body>
    <div id="root" class="root">
      <div>
        <div id="header" class="header">
          <p> R2D2 vs Terminator </p>
        </div>
        <div id="menu" class="menu">
          <div>
            <p>AutoMode</p>
            <label class="switch">
              <input id="autoModeButton" type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div>
            <button id="startButton" title="Start a new game !">
              Start
            </button>
          </div>
        </div>
        <div id=container class="container">
        </div>
      </div>
    </div>
  </body>
</html>
