.header {
  // height: $header-height;
  background-color: $main-color;
  img {
    width: 100%;
  }
  p {
    font-size: 35px;
    font-family: Courier, monospace;
    font-weight: 800;
    color: white;
    padding: 10px;
  }
}
