// $main-color:  #1f77bb;
$main-color:  #034257;
$secondary-color: #093169;
$warning-color: #e2bd66;
$danger-color: #db7a67;
$green-color: #45a35c;


$header-height: 100px;
$menu-height: 140px;
$container-height: 700px;
